@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

@layer base {
	:root {
		--elements-darkMode: hsl(209, 23%, 22%);
		--bg-darkMode: hsl(207, 26%, 17%);
		--text-lightMode: hsl(200, 15%, 8%);
		--input-lightMode: hsl(0, 0%, 52%);
		--bg-lightMode: hsl(0, 0%, 97%);
	}

	.dark {
	}
}

@layer components {
	.filter-btn {
		@apply w-full text-left py-2 px-4 dark:text-white hover:bg-blue-50 dark:hover:bg-gray-600 dark:hover:text-white;
	}

	.nav-btn {
		@apply text-black	 ml-6 my-10 px-6 py-1 flex items-center gap-2 shadow-lg hover:bg-gray-100  active:translate-y-1 active:shadow-md dark:text-white  dark:hover:bg-gray-700 dark:bg-elementsDark;
	}

	.error {
		@apply text-base md:text-2xl bg-white h-32 flex justify-center items-center  text-center dark:text-white dark:bg-elementsDark tracking-wider;
	}
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	background-color: var(--bg-lightMode);

	&.dark {
		background-color: var(--bg-darkMode);
	}
}

body {
	font-family: "Nunito Sans", sans-serif;
}

ol,
ul {
	list-style: none;
}

.header {
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
